*{
    margin: 0;
    padding: 0;
    border: 0;
    outline: none;
    box-sizing: border-box;
}

body{
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background: rgb(30, 40, 46);
}

.container-card{
    position: relative;
    width:400px;
    height: 105px;
    background: linear-gradient(135deg, #39c1c1, #82548a);
    padding: 40px 35px;
    overflow: hidden;
    border-radius: 20px;
    text-align: center;
    font-family: 'Roboto', sans-serif;
    transition: 0.5s ease-out;
    border: solid yellow 5px;
}